{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About</h1>

    <p class="lead">This is the about page</p>

    <p>Here is some more info!</p>

{% endblock %}

G-T5JHFCBRR7


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T5JHFCBRR7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T5JHFCBRR7');
</script>
</head>
<body>